CONFIG_64BIT=n
CONFIG_X86_32=y
CONFIG_M686=y
CONFIG_SMP=n
CONFIG_X86_UP_APIC=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_X86_IO_APIC=n
CONFIG_PREEMPT_NONE_BUILD=y
CONFIG_HZ_100=y
CONFIG_EXPERT=y
CONFIG_EMBEDDED=y
CONFIG_SYSVIPC=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_PCI=y
CONFIG_PCI_MSI=n
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_9P_FS=y
CONFIG_9P_FS_POSIX_ACL=n
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_PRINTK=y
CONFIG_EARLY_PRINTK=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_MODULES=n
